
@{
    ViewData["Title"] = "Charlie";
}

<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<link rel="shortcut icon" href="images/favicon.png">
		<link rel="stylesheet" type="text/css" href="styles/style.css">
		<title>Personal Page</title>
	</head>
	<body>		
		<main>
			<div class="mainContent">
					<div class="card-container">					
						<div class="upper-container">
						</div>			
						<div class="lower-container">
							<div class="name">Charlie Phelps</div>
							<div class="profession">Information Technology - Softwawre Development</div>
							<div class="divider"></div>
							<div class="bio">4th Year Student at the University of Cincinnati. </div>
						</div>
					</div>
				<div class="box-text">
					<p></p>
					<p>Work Experience: Cincinnati Financial</p>

					<ul type="disc">
						<li>Programming languages: <strong>Java, Python, C++, TypeScript, SQL </strong></li>
					</ul>

					<p>What I'm interested in:</p>

					<ul type="disc">
						<li><strong>Gaming</strong></li>
						<li><strong>Math</strong></li>
						<li><strong>Reading</strong></li>
						<li><strong>Hiking</strong></li>
						<li><strong>Biking</strong></li>
					</ul>

			</div>
			</div>
		</main>
	
	</body>
</html>

