
@{
    ViewData["Title"] = "Charlie";
}

<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<link rel="shortcut icon" href="images/favicon.png">
		<link rel="stylesheet" type="text/css" href="styles/style.css">
		<title>Personal Page</title>
	</head>
	<body>		
		<main>
			<div class="mainContent">
				<div class="card-container">					
					<div class="upper-container">
					</div>			
					<div class="lower-container">
						<div class="name">Vedant Amin</div>
						<div class="profession">Information technology Major</div>
						<div class="divider"></div>
						<div class="bio">Full time Student at the University of Cincinnati. </div>
					</div>		

				</div>
				<div class="box-text">				
					<p>My past Work Experience includes Apple Inc, Parker hannafin, Ascena Inc, and Merck.  </p>	
					
						<ul type="disc">
							<li>Programming languages: <strong>Python, C/C++, HTML, Java, JavaScript, SQL </strong></li>
							<li>Networks: <strong>Configuration, Servers, Routers, LAN Technology </strong></li>
							<li>Operating Systems: <strong>Microsoft Windows, Linux, Unix, MacOS, Android, IOS</strong></li>
						</ul>
					
					<p>What I'm interested in:</p>
					
						<ul type="disc">
							<li><strong>CryptoCurrency</strong></li>
							<li><strong>Blockchain</strong></li>
							<li><strong>Quant</strong></li>
						</ul>
					
				</div>
			</div>
		</main>
	
	</body>
</html>

