
@{
    ViewData["Title"] = "Francesca";
}



<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<link rel="shortcut icon" href="images/favicon.png">
		<link rel="stylesheet" type="text/css" href="styles/style.css">
		<title>Personal Page</title>
	</head>
	<body>		
		<main>
			<div class="mainContent">
				<div class="card-container">					
					<div class="upper-container">
					</div>			
					<div class="lower-container">
						<div class="name">Francesca Suba</div>
						<div class="profession">BS/MS in Information Technology</div>
						<div class="divider"></div>
						<div class="bio">4th Year IT student interested in Software Development, Project Management, and UI/UX Design</div>
					</div>		

				</div>
				<div class="box-text">				
					<p>I have completed all three of my co-ops at 84.51.</p>	
					
						<ul type="disc">
							<li>Programming languages: <strong>Python, HTML/CSS, Java, JavaScript</strong></li>
							<li>Operating Systems: <strong>Microsoft Windows, Linux, MacOS, Android, IOS</strong></li>
						</ul>
					
					<p>What I'm interested in:</p>
					
						<ul type="disc">
							<li><strong>Concerts</strong></li>
							<li><strong>Cooking</strong></li>
							<li><strong>Traveling</strong></li>
						</ul>
					
				</div>
			</div>
		</main>
	
	</body>
</html>

