@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>WEB SERVER APPLICATION DEV (001) Final project By: Vedant Amin, Francesca Suba, Charles Phelps.</p>
</div>
