
@{
    ViewData["Title"] = "Vedant";
}

<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Me</title>
    <link rel="stylesheet" href="styles.css">
    <link rel="stylesheet" media="screen" href="https://fontlibrary.org//face/minecraftia" type="text/css"/> 
    <script src="https://kit.fontawesome.com/d0c5025972.js" crossorigin="anonymous"></script>


</head>
<body>

    <div class="box">
     


        <h1>
            
            Vedant Amin

        </h1>

            
        <h3>(Information technology major)</h3>
        
        <p>Hi! My name is Vedant and I'm an University Student.<br>
           I'm currently studying at University of Cincinnati and working full time as a Business Applications Engineering Intern. 
           <br>
           
           <br>

           Check my stuff down below:

        </p>

        <ul>

            
            <li><a href="https://www.linkedin.com/in/vedant-amin">Linkedin</li>
            <li><a href="https://github.com/aminvd">Github</li>
                     

        </ul>

    </div>
    
</body>
</html>

