@{
    ViewData["Title"] = "Large Concerts";
}

<style>
    table, th, td {
        border: 1px solid black;
        padding: 3px;
    }
</style>

<h1>Large Concerts We Have Attended</h1>

<table>
    <tr>
        <th>Venue</th>
        <th>Artist</th>
        <th>Year</th>
    </tr>
    <tr>
        <td>Madison Square Garden</td>
        <td>Harry Styles</td>
        <td>2022</td>
    </tr>
    <tr>
        <td>Schottenstein Center</td>
        <td>AJR</td>
        <td>2022</td>
    </tr>
    <tr>
        <td>United Center</td>
        <td>Harry Styles</td>
        <td>2022</td>
    </tr>
</table>
