@{
    ViewData["Title"] = "Small Concerts";
}

<style>
    table, th, td {
        border: 1px solid black;
        padding: 3px;
    }
</style>

<h1>Small Concerts We Have Attended</h1>

<table>
    <tr>
        <th>Venue</th>
        <th>Artist</th>
        <th>Year</th>
    </tr>
    <tr>
        <td>Aragon Ballroom</td>
        <td>Joji</td>
        <td>2022</td>
    </tr>
    <tr>
        <td>KEMBA! Live</td>
        <td>The 1975</td>
        <td>2016</td>
    </tr>
    <tr>
        <td>Grand Ol Opry House</td>
        <td>Lorde</td>
        <td>2022</td>
    </tr>
</table>

